version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER:-myuser}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-mypassword}
      POSTGRES_DB: ${DB_NAME:-mydatabase}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-myuser} -d ${DB_NAME:-mydatabase}"]
      interval: 5s
      timeout: 5s
      retries: 5
  backend:
    build: ./backend
    container_name: python_backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      DB_HOST: ${DB_HOST:-db}
      DB_NAME: ${DB_NAME:-mydatabase}
      DB_USER: ${DB_USER:-myuser}
      DB_PASSWORD: ${DB_PASSWORD:-mypassword}
      # SMARTTHINGS_TOKEN: ${SMARTTHINGS_TOKEN}  <-- Removed single token support
      SMARTTHINGS_CLIENT_ID: ${SMARTTHINGS_CLIENT_ID}
      SMARTTHINGS_CLIENT_SECRET: ${SMARTTHINGS_CLIENT_SECRET}
      REFRESH_TOKEN_1: ${REFRESH_TOKEN_1}
      REFRESH_TOKEN_2: ${REFRESH_TOKEN_2}
      REFRESH_TOKEN_3: ${REFRESH_TOKEN_3}
      REFRESH_TOKEN_4: ${REFRESH_TOKEN_4}
      REFRESH_TOKEN_5: ${REFRESH_TOKEN_5}
    depends_on:
       db:
           condition: service_healthy

  frontend:
    build: ./frontend
    container_name: angular_frontend
    restart: always
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  postgres_data:
